*{
    background-color: rgba(0, 128, 0, 0.096);
}

.esquerda{
   height: 1000px;
   border: solid 1px;
   float: left;
   padding: 25px;
   width: 500px;
   
}

img.eu{
    border-radius: 100%;
    padding: 10px;
    height: 200px;
    width: 200px;
}

.direita{
    border: solid 1px;
    float: left;
    padding: 25px;
    width: 500px;
}

.tudo{
    height: 1500px;
    width: 1000px;
    display: inline;
}

